<div class="row inline">
    <div class="col s10">
        <h4>Search</h4>
    </div>
    <div class="col s2" style="margin-top: 2rem;">
        <a class="col s2" routerLink="new" class="btn-floating btn waves-effect waves-light right"><i
                class="material-icons">add</i></a>
    </div>
</div>
<!-- <ng-template #loadingError>
    <div *ngIf="error$ | async; else loading">
        <p>Error to loading products, contact us!</p>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</ng-template> -->
<ng-template #loading>
    <p>Loading Products...</p>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
</ng-template>

<!-- <app-product-search (filter)="searchItem($event)"></app-product-search> -->

<!-- <table class="highlight" *ngIf="todos$ | async as todos; else loading"> -->
<table class="highlight" *ngIf="todos; else loading">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Completed</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{ todo.userId }}</td>
            <td>{{ todo.id }}</td>
            <td>{{ todo.title }}</td>
            <td>{{ todo.completed }}</td>
            <!-- <td><button routerLink="edit/{{ p.id }}" class="btn-floating btn waves-effect waves-light"><i
                        class="material-icons">edit</i></button></td>
            <td><a (click)="onDelete(p)" class="btn-floating btn waves-effect waves-light deep-orange"><i
                        class="material-icons">delete</i></a></td> -->
        </tr>
    </tbody>
</table>