<nav>
    <div class="nav-wrapper">
        <div class="container-fluid">
            <a routerLink="/login" class="brand-logo right">Login</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li routerLinkActive="active"><a routerLink="dashboard">Dashboard</a></li>
                <li routerLinkActive="active"><a routerLink="person">Person</a></li>
                <li routerLinkActive="active"><a routerLink="product">Product</a></li>
                <li routerLinkActive="active"><a routerLink="order">Order</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>