<div class="row inline">
    <div class="col s10">
        <h4>Products</h4>
    </div>
    <div class="col s2" style="margin-top: 2rem;">
        <a class="col s2" routerLink="new" class="btn-floating btn waves-effect waves-light right"><i
                class="material-icons">add</i></a>
    </div>
</div>
<ng-template #loadingError>
    <div>
        <p>Error to loading products, contact us!</p>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</ng-template>

<app-product-search (filter)="searchItem($event)"></app-product-search>

<table class="highlight" *ngIf="products$ | async as products; else loadingError">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Brand</th>
            <th>Created At.</th>
            <th>Updated At.</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of products">
            <td>{{ p.name }}</td>
            <td>{{ p.price | currency: 'R$ ' }}</td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.brand }}</td>
            <td>{{ p.createdAt | date }}</td>
            <td>{{ p.updatedAt | date }}</td>
            <td><button routerLink="edit/{{ p.id }}" class="btn-floating btn waves-effect waves-light"><i
                        class="material-icons">edit</i></button></td>
            <td><a (click)="onDelete(p)" class="btn-floating btn waves-effect waves-light deep-orange"><i
                        class="material-icons">delete</i></a></td>
        </tr>
    </tbody>
</table>